<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is About Page</h1>
    <hr/>

    <!-- <div th:insert="~{base :: parentFragment('one','two')}"></div> -->
     <div class="host-tag" 
     th:insert="${isLogin} ? (~{base :: parentFragment(~{::#abc})}) : (~{base :: test(~{::#xyz})})"></div>
     
     <section id="abc">
        <h1>User is logged in</h1>
        <button>Click on Dynamic content</button>
     </section>

     <section id="xyz">
        <h1>User is not logged in</h1>
     </section>
     
</body>
</html>